
@import url('https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro');

$fontLarge: 'Lato', sans-serif;
$fontSmall: 'Source Sans Pro', sans-serif;

html, body {
	color: $black;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	color: $black;
	display: inline-block;
	font-family: $fontLarge;
	font-weight: normal !important;
}

h3 {
	font-size: 20px;
	height: 22px;
	line-height: 22px;
	margin: 0;
	padding: 0;
	width: 100%;
}

h4 {
	font-size: 26px;
	font-weight: bold !important;
	height: 28px;
	line-height: 28px;
	margin: 0;
	padding: 0;
	width: 100%;
}

h5 {
	font-family: $fontSmall;
	font-size: 14px;
	height: 14px;
	line-height: 14px;
	margin: 0;
	padding: 0;
	width: 100%;
}

p {
	font-family: $fontSmall;
}

.bariol {
	font-family: $fontLarge;
}

.code {
	font-family: $fontSmall;
}

.font {
	&--big {
		font-size: 18px;
	}

	&--bigger {
		font-size: 22px;
	}

	&--bold {
		font-weight: bold;
	}

	&--bolder {
		font-weight: bolder;
	}
}
